# Compiled source #
###################
*.exe

### below combination ignore all without extension
# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/

.vscode
.DS_Store
.out

target
